plane.txt
# Python related
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
*.bak
*.py[cod]

# Django related
*.log
*.pot
*.pyc
*.sqlite3
*.db
*.db-journal
media/
static/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac OS related
.DS_Store

# Windows related
Thumbs.db

# Local virtual environment
venv/
.env/

# Docker related
*.dockerfile
docker-compose.override.yml
